{#
Arguments
    transaction: Transaction
#}

<div class="row" id="transaction-list-item">
    <div class="col-sm-2 actions">
        <button class="action-btn"><i class="fa fa-edit fa-fw"></i></button>
        <br>
        <button class="action-btn"><i class="fa fa-trash fa-fw"></i></button>
    </div>
    <div class="col-sm-10 transaction">
        <div class="row">
            <div class="col-sm-4 src_account">
                {% with account=transaction.src_account %}
                <div class="col-sm-6 account-icon">
                    {% if account %}
                    <img src="{{ account.get_icon() }}" style="border-radius: 50%">
                    {% else %}
                    [No Icon]
                    {% endif %}
                </div>
                <div class="col-sm-6 account-name">
                    <div class="row">
                        {% if account %} {{ account.name }}
                        {% else %} Income
                        {% endif %}
                    </div>
                    <div class="row">
                        {% if transaction.currency_src != transaction.currency_dest %}
                            {{ transaction.value_src }} {{ transaction.currency_src }}
                        {% endif %}
                    </div>
                </div>
                {% endwith %}
            </div>
            <div class="col-sm-4 details">
                {{ transaction.description }}
                {% if transaction.where %} @ {{ transaction.where }} {% endif %}
                <br>
                {{ transaction.datetime.strftime('%Y-%m-%d %H:%M') }}
            </div>
            <div class="col-sm-4 dest_account">
                {% with account=transaction.dest_account %}
                <div class="col-sm-6 account-name">
                    <div class="row">
                        {{ account.name }}
                    </div>
                    <div class="row">
                        {{ transaction.value_dest }} {{ transaction.currency_dest }}
                    </div>
                </div>
                <div class="col-sm-6 account-icon">
                    <img src="{{ account.get_icon() }}" style="border-radius: 50%">
                </div>
                {% endwith %}
            </div>
        </div>
    </div>
</div>
