{#
Variables:
    transaction Transaction Target transaction to view
    form EmptyForm (optional) Form used for triggering actions through submit buttons (e.g. edit, delete)
#}

<div class="row" id="transaction-list-item">
    <div class="col-xs-11 transaction">
        <div class="row form-group">
            <div class="col-xs-4 src_account">
                {% with account=transaction.src_account %}
                <div class="col-xs-6 account-icon">
                    {% if account %}
                    <img src="{{ account.get_icon() }}" style="border-radius: 50%">
                    {% else %}
                    <img src="https://www.gravatar.com/avatar/34ae6773410925b4574e656be194f0ad?d=identicon&s=50"
                         style="border-radius: 50%">
                    {% endif %}
                </div>
                <div class="col-xs-6 account-name">
                    <div class="row">
                        {% if account %}
                        <a href="{{ url_for('main.view_account', id=account.id) }}">{{ account.name }}</a>
                        {% else %}
                        Income
                        {% endif %}
                    </div>
                    <div class="row">
                        {% if transaction.value_src != transaction.value_dest %}
                            {{ "%.2f"|format(transaction.value_src) }} {{ transaction.currency_src }}
                        {% endif %}
                    </div>
                </div>
                {% endwith %}
            </div>
            <div class="col-xs-4 details">
                {{ transaction.description }}
                {% if transaction.where %} @ {{ transaction.where }} {% endif %}
                <br>
                {{ transaction.datetime.strftime('%Y-%m-%d %H:%M') }}
            </div>
            <div class="col-xs-4 dest_account">
                {% with account=transaction.dest_account %}
                <div class="col-xs-6 account-name">
                    <div class="row">
                        <a href="{{ url_for('main.view_account', id=account.id) }}">{{ account.name }}</a>
                    </div>
                    <div class="row">
                        {{ "%.2f"|format(transaction.value_dest) }} {{ transaction.currency_dest }}
                    </div>
                </div>
                <div class="col-xs-6 account-icon">
                    <img src="{{ account.get_icon() }}" style="border-radius: 50%">
                </div>
                {% endwith %}
            </div>
        </div>
    </div>
    {% if form %}
    <div class="col-xs-1 actions">
        <div class="row">
            <form action="{{ url_for('main.edit_transaction', id=transaction.id) }}" method="post">
                {{ form.hidden_tag() }}
                <button type="submit" class="btn btn-sm btn-default"><i class="fa fa-edit fa-fw"></i></button>
            </form>
            <form action="{{ url_for('main.remove_transaction', id=transaction.id) }}" method="post">
                {{ form.hidden_tag() }}
                <button type="submit" class="btn btn-sm btn-default"><i class="fa fa-trash fa-fw"></i></button>
            </form>
        </div>
    </div>
    {% endif %}
</div>
