{#
Variables:
    transactions List[Transaction] List of transactions to view
    next_url str (optional) Url to older transactions
    prev_url str (optional) Url to newer transactions
#}

<h2>Transactions</h2>

<div class="container">
    {% for transaction in transactions %}
        {% include '_transaction.html' %}
    {% endfor %}
</div>

<nav aria-label="...">
    <ul class="pager">
        {% if next_url %}
        <li><a href="{{ next_url }}"><span aria-hidden="true">&larr;</span> Older</a></li>
        {% else %}
        <li class="disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
        {% endif %}
        {% if prev_url %}
        <li><a href="{{ prev_url }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
        {% else %}
        <li class="disabled"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
        {% endif %}
    </ul>
</nav>

